<webapp>
    <servlet>
        <servlet-name>catalog</servlet-name>
        <servlet-class>com.headspin.skillbase.catalog.app.CatalogApp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catalog</servlet-name>
        <url-pattern>/catalog/*</url-pattern>
    </servlet-mapping>
</webapp>