<webapp>
    <servlet>
        <servlet-name>certify</servlet-name>
        <servlet-class>com.headspin.skillbase.certify.app.CertifyApp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>certify</servlet-name>
        <url-pattern>/certify/*</url-pattern>
    </servlet-mapping>
</webapp>